mat-card {
  margin: 8px;

  .container {
    display: flex;
    gap: 1rem;
    text-align: center;

    .icon {
      flex: 1;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    .symbol {
      flex: 2;
      font-size: 3rem;
      font-weight: bold;
      align-self: center;
    }

    .change-24h {
      flex: 2;
      font-size: 2rem;
      align-self: center;

      color: crimson;
      &.up-trend {
        color: forestgreen;
      }
    }

    .range {
      flex: 2;

      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        border: 1px solid #d3d3d3;
        align-self: stretch;
      }

      :first-child {
        order: -1;
      }

      .up {
        color: forestgreen;
      }

      .down {
        color: crimson;
      }
    }
  }
}
