mat-card {
  margin: 8px;

  .container {
    display: flex;
    gap: 1rem;
    text-align: center;

    .star {
      top: 0;
      left: 0;
      margin-left: -0.2em;
      margin-top: -0.2em;
      position: absolute;
      font-size: xx-large;

      span.favorited {
        color: gold;
      }
    }

    .icon {
      height: 10vw;
      min-width: 10vw;
      align-self: center;
      background-size: cover;
      background-position: center;
    }

    .symbol {
      flex: 1;
      font-size: x-large;
      font-weight: bold;
      align-self: center;
    }

    .change-24h {
      flex: 1;
      font-size: larger;
      align-self: center;

      color: crimson;
      &.up-trend {
        color: forestgreen;
      }
    }

    .range {
      flex: 1;

      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        border: 1px solid #d3d3d3;
        align-self: stretch;
      }

      :first-child {
        order: -1;
      }

      .high {
        color: forestgreen;
      }

      .low {
        color: crimson;
      }
    }
  }
}
